services:
  litellm:
    image: litellm/litellm:v1.79.3-stable
    platform: linux/amd64
    ports:
      - "4000:4000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - LITELLM_LOG=INFO
    configs:
      - source: litellm_config.yaml
        target: /app/config.yaml
    command: --config /app/config.yaml

configs:
  litellm_config.yaml:
    content: |
      model_list:
        - model_name: gpt-5-nano
          litellm_params:
            model: openai/gpt-5-nano-2025-08-07

        - model_name: gpt-5-mini
          litellm_params:
            model: openai/gpt-5-mini-2025-08-07

      litellm_settings:
        json_logs: true
        max_parallel_requests: 10
        request_timeout: 600
        drop_params: true
        rpm: 400
